<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Node Test</title>
    </head>
    <body>
        <h1>Node EJS Test Page <%= name %> = 이스케이프 처리 </h1>
        <h1>Node EJS Test Page - <%- name %> - 이스케이프 비처리 </h1>
        <!-- index.js에서 public을 선언 했기 때문에 하위 폴더만 써준다.-->
        <div><img src="/images/a.jpg"></div>
    </body>
</html>
